<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QA_Automation_Suite">
    <test name="SmokeTests">
        <classes>
            <class name="tests.ui.SmokeTest"/>
        </classes>
    </test>

    <test name="RegressionTests">
        <classes>
            <class name="tests.ui.RegressionTest"/>
        </classes>
    </test>
</suite>
